{% extends 'zgodovinakviz/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">
            <h4 class="text-center">Zgodovinar začetnik <i data-toggle="modal" data-target="#infoModal" class="bi bi-info-circle"></i></h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        {% for v in vprasanja1 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for v in vprasanja2 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for v in vprasanja3 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}