{% extends 'zgodovinakviz/base.html' %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Trenutna stopnja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tvoja trenutna stopnja je Zgodovinar začetnik. Da napreduješ na naslednjo stopnjo, moraš pravilno odgovoriti še na 6 vprašanj.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zapri</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal END-->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">
            <h4 class="text-center">Zgodovinar začetnik <i data-toggle="modal" data-target="#infoModal" class="bi bi-info-circle"></i></h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        {% for v in vprasanja1 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for v in vprasanja2 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for v in vprasanja3 %}
                        <td>
                            <div class="myBorder
                                             {% if v.pk in pravilna %} myBorder-green
                                             {% elif v.pk in napacna %} myBorder-red
                                             {% elif v.pk in neodgovorjena %} myBorder-black {% endif %}">
                                <a href="{% url 'vprasanje' pk=v.pk %}"><img src="{{v.slika}}" class="img-fluid avatar avatar-sm {% if v.pk in neodgovorjena %} grayscale {% endif %}"></a>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}