{% extends 'zgodovinakviz/base.html' %}
{% block content %}
<div class="container mt-4">
    <h4 class="mb-4">Alen Bizjak (Zgodovinar začetnik)</h4>
    <div class="myBorder myBorder-green">
        Question?<br>
        Odgovor: lalala.<br>
    </div>
    <br>
    <div class="myBorder myBorder-red">
        Question?<br>
        Odgovor: lalala.<br>
    </div>
    <br>
    <div class="myBorder myBorder-green">
        Question?<br>
        Odgovor: lalala.<br>
    </div>
    <br>
    <div class="myBorder myBorder-green">
        Question?<br>
        Odgovor: lalala.<br>
    </div>
    <br>
</div>
{% endblock %}