.btn {
	border-radius: 24px;
}
.btn-primary {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-secondary {
    box-shadow: 0 3px 0 0 #44545a;
}
.btn-danger {
    box-shadow: 0 3px 0 0 #cc0000;
}
.btn-success {
    box-shadow: 0 3px 0 0 #02790c;
}
.btn:active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.myBorder {
	border: 4px;
	border-style: solid;
	border-radius: .75rem;
	padding: 5px;
}
.myBorder-green {
	border-color: #35D461;
}
.myBackground-green {
	background-color: #35D461;
}
.myBorder-red {
	border-color: #D62226;
}
.myBackground-red {
	background-color: #D62226;
}
.myBorder-black {
	border-color: rgba(44, 44, 42, 0.226);
}
.myBackground-black {
	background-color: rgba(44, 44, 42, 0.226);
}
img {
	border-radius:.75rem!important
}
.teacher.bi-lock:hover {
	color: red;
	cursor: pointer;
}

.teacher.bi-lock-fill:hover {
	color: red;
	cursor: pointer;
}

.bi-info-circle:hover {
	color: red;
	cursor: pointer;
}